<launch>
    <arg name="config_path" default = "/home/zhouxin/Projects/my_msckf/src/my_msckf/config/euroc.yaml" />

    
    <node name="image_node" pkg="image_node" type = "image_node" output="screen">
        <rosparam command="load" file="$(arg config_path)" />
    </node>

    <node name="track_node" pkg="track_node" type = "track_node" output="screen">
        <rosparam command="load" file="$(arg config_path)" />
    </node>

</launch>
